#dispatcher {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

body.waiting,
body.waiting * {
    cursor: wait !important;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.panel {
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.left-panel {
    width: 200px;
    flex-shrink: 0;
}

.middle-panel,
.right-panel {
    flex-grow: 1;
    width: 50%;
}

.right-panel {
    display: flex;
    flex-direction: column;
}

.subpanel {
    padding: 10px 0;
    flex-grow: 1;
}

#code-editor {
    height: 100%;
    font-size: 14pt;
}

.control-panel {
    height: 30px;
    max-height: 30px;
    overflow: hidden;
}

#terminal-output {
    font-family: monospace;
    resize: none;
}


#terminal-output.error {
    background-color: #dc7373;
}

#new-item {
    /* background-color: #eee; */
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    border: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.item span {
    flex: 1;
    /* Text takes as much space as possible */
}

.item:hover {
    background-color: #eee;
}

.item button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.icon {
    margin-right: 10px;
}


.right-panel .subpanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 30vmin;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

#grid #grid-table>div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    aspect-ratio: 1/1;
}

#grid #grid-table>div>* {
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}
